@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
#navigation {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.container-1 {
    display: flex;
    flex-direction: row;
}

.logo {
    margin-top: 5px;
}

.celebrate_logo {
    width: 110px;
}

ul {
    list-style: none;
    overflow: hidden;
}

.navbar_space {
    margin-left: 22px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.heading_link {
    margin-left: 70px;
    float: left;
}

.navbar_link {
    text-decoration: none;
    color: black;
    font-family: 'EB Garamond', serif;
}

.heading_login {
    float: right;
    margin-left: 80px;
}

#mobile_links {
    display: none;
}

.icon {
    display: none;
}

.container-2 {
    display: flex;
    flex-direction: column;
}

.round_container {
    background-image: url(./images/Background.jpg);
    background-position: center;
    border-radius: 50px;
    width: 100%;
    height: 270px;
}

#overlap_cards {
    padding-top: 50px;
}

.nested_container {
    border-radius: 50px;
    width: 90%;
    height: 500px;
    border-style: solid;
    border-color: rgb(179, 174, 174);
    border-width: 2px;
    margin: 0 auto;
    background-color: white;
}

.overlap_card_text {
    text-align: center;
    color: white;
    font-size: 30px;
    padding-top: 10px;
    font-family: 'EB Garamond', serif;
}

.container-3 {
    display: flex;
    flex-direction: row;
}

.card_carousel {
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    overflow: hidden;
}

#image-1 {
    border-radius: 10px;
    background-color: white;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(179, 174, 174);
    width: 300px;
    height: 400px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    transform: scale(0.8);
    position: relative;
    z-index: 2;
}

.card_image_1 {
    width: 280px;
    height: 380px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    border-radius: 5px;
}

#image-2 {
    background-color: white;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(179, 174, 174);
    width: 300px;
    height: 400px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    transform: scale(0.7);
    position: relative;
    right: 120px;
    z-index: 1;
}

.card_image_2 {
    width: 280px;
    height: 380px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    border-radius: 5px;
}

#image-3 {
    background-color: white;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(179, 174, 174);
    width: 300px;
    height: 400px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    transform: scale(0.6);
    position: relative;
    z-index: 0;
    right: 270px;
}

.card_image_3 {
    width: 280px;
    height: 380px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    border-radius: 5px;
}

.card_content {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
}

.card_title {
    margin: 0 auto;
}

.card_price {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.c_75 {
    color: springgreen;
}

.price_space {
    padding-right: 27px;
}

p {
    font-size: 10px;
    font-family: 'EB Garamond', serif;
}

.card_text {
    padding-top: 10px;
    margin: 0 auto;
    width: 50%;
}

.card_button {
    margin: 0 auto;
    padding-top: 10px;
    background-color: black;
    border-radius: 50px;
    height: 45px;
    width: 50%;
}

.button_content {
    color: white;
    text-align: center;
}

h1 {
    font-family: 'EB Garamond', serif;
}

h3 {
    font-family: 'EB Garamond', serif;
}

h5 {
    font-family: 'EB Garamond', serif;
}

#feature_section {
    position: relative;
    top: 360px;
}

.features {
    display: flex;
    flex-direction: column;
}

.feature_text {
    margin: 0 auto;
}

.text {
    text-align: center;
}

.lower_div {
    border-radius: 30px;
    border-color: rgb(179, 174, 174);
    border-width: 2px;
    border-style: solid;
    width: 90%;
    height: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.feature-1 {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.circle {
    margin: 0 auto;
    position: relative;
    top: 30px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: rgb(179, 174, 174);
}

.feature_inner_text {
    position: relative;
    top: 50px;
    margin: 0 auto;
    width: 80%;
}

.inner_text {
    font-family: 'EB Garamond', serif;
    text-align: center;
    font-size: 30px;
}

@media screen and (max-width: 640px) {
    .navbar_space {
        display: none;
    }
    .logo {
        margin: 0 auto;
    }
    .heading_link {
        margin: 0 auto;
    }
    #mobile_links {
        display: none;
        height: 240px;
    }
    .icon {
        display: block;
        position: absolute;
        top: 12px;
    }
    .icon .fa {
        color: rgb(114, 109, 109);
        font-size: 30px;
    }
    .mobile_list {
        text-align: center;
        padding-top: 20px;
    }
    .round_container {
        background-image: url(./images/Background.jpg);
        background-position: center;
        border-radius: 30px;
        width: 90%;
        height: 100px;
    }
    #overlap_cards {
        padding-top: 20px;
    }
    .overlap_card_text {
        text-align: center;
        color: white;
        font-size: 20px;
        padding-top: 10px;
    }
    .nested_container {
        border-radius: 30px;
        width: 95%;
        height: 700px;
        border-style: solid;
        border-color: rgb(179, 174, 174);
        border-width: 2px;
        margin: 0 auto;
        background-color: white;
    }
    .container-3 {
        display: flex;
        flex-direction: column;
    }
    .card_carousel {
        display: flex;
        flex-direction: row;
        padding-top: 0px;
        overflow: hidden;
    }
    .card_content {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
    }
    .card_button {
        margin: 0 auto;
        padding-top: 10px;
        background-color: black;
        border-radius: 50px;
        height: 45px;
        width: 50%;
    }
    .card_title {
        position: relative;
        top: 60px;
        margin: 0 auto;
    }
    .card_price {
        position: relative;
        top: 60px;
        display: flex;
        flex-direction: row;
        margin: 0 auto;
    }
    .card_text {
        position: relative;
        top: 60px;
        padding-top: 10px;
        margin: 0 auto;
        width: 50%;
    }
    .card_button {
        position: relative;
        bottom: 180px;
        margin: 0 auto;
        padding-top: 10px;
        background-color: black;
        border-radius: 50px;
        height: 45px;
        width: 50%;
    }
    #feature_section {
        position: relative;
        top: 700px;
    }
    .feature-1 {
        display: flex;
        flex-direction: row;
        margin: 0 auto;
    }
    .lower_div {
        border-radius: 30px;
        border-color: rgb(179, 174, 174);
        border-width: 2px;
        border-style: solid;
        width: 90%;
        height: 300px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
    .circle {
        margin: 0 auto;
        position: relative;
        top: 30px;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        background-color: rgb(179, 174, 174);
    }
    .feature_inner_text {
        position: relative;
        top: 30px;
        margin: 0 auto;
        width: 80%;
    }
    .inner_text {
        font-family: 'EB Garamond', serif;
        text-align: center;
        font-size: 25px;
    }
}

@media screen and (max-width: 350px) {
    .navbar_space {
        display: none;
    }
    .logo {
        margin: 0 auto;
    }
    .heading_link {
        margin: 0 auto;
    }
    #mobile_links {
        display: none;
        height: 240px;
    }
    .icon {
        display: block;
        position: absolute;
        top: 12px;
    }
    .icon .fa {
        color: rgb(114, 109, 109);
        font-size: 30px;
    }
    .mobile_list {
        text-align: center;
        padding-top: 20px;
    }
    .round_container {
        background-image: url(./images/Background.jpg);
        background-position: center;
        border-radius: 30px;
        width: 90%;
        height: 100px;
    }
    #overlap_cards {
        padding-top: 20px;
    }
    .overlap_card_text {
        text-align: center;
        color: white;
        font-size: 20px;
        padding-top: 10px;
    }
    .nested_container {
        border-radius: 30px;
        width: 95%;
        height: 700px;
        border-style: solid;
        border-color: rgb(179, 174, 174);
        border-width: 2px;
        margin: 0 auto;
        background-color: white;
    }
    #image-1 {
        border-radius: 10px;
        background-color: white;
        border-style: solid;
        border-width: 2px;
        border-color: rgb(179, 174, 174);
        width: 300px;
        height: 400px;
        box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
        transition: 0.5s;
        transform: scale(0.8);
        position: relative;
        right: 30px;
        z-index: 2;
    }
    #image-2 {
        background-color: white;
        border-radius: 10px;
        border-style: solid;
        border-width: 2px;
        border-color: rgb(179, 174, 174);
        width: 300px;
        height: 400px;
        box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
        transition: 0.5s;
        transform: scale(0.7);
        position: relative;
        right: 120px;
        z-index: 1;
    }
    .container-3 {
        display: flex;
        flex-direction: column;
    }
    .card_carousel {
        display: flex;
        flex-direction: row;
        padding-top: 0px;
        overflow: hidden;
    }
    .card_content {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
    }
    .card_button {
        margin: 0 auto;
        padding-top: 10px;
        background-color: black;
        border-radius: 50px;
        height: 45px;
        width: 50%;
    }
    .card_title {
        position: relative;
        top: 60px;
        margin: 0 auto;
    }
    .card_price {
        position: relative;
        top: 60px;
        display: flex;
        flex-direction: row;
        margin: 0 auto;
    }
    .card_text {
        position: relative;
        top: 60px;
        padding-top: 10px;
        margin: 0 auto;
        width: 50%;
    }
    .card_button {
        position: relative;
        bottom: 180px;
        margin: 0 auto;
        padding-top: 10px;
        background-color: black;
        border-radius: 50px;
        height: 45px;
        width: 50%;
    }
    #feature_section {
        position: relative;
        top: 700px;
    }
    .feature-1 {
        display: flex;
        flex-direction: row;
        margin: 0 auto;
    }
    .lower_div {
        border-radius: 30px;
        border-color: rgb(179, 174, 174);
        border-width: 2px;
        border-style: solid;
        width: 90%;
        height: 300px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
    .circle {
        margin: 0 auto;
        position: relative;
        top: 30px;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        background-color: rgb(179, 174, 174);
    }
    .feature_inner_text {
        position: relative;
        top: 30px;
        margin: 0 auto;
        width: 80%;
    }
    .inner_text {
        font-family: 'EB Garamond', serif;
        text-align: center;
        font-size: 25px;
    }
}